*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.NavBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 25px;
    background-color: white;
}